<div class="container" style="font-family: OldSansBlack;">
  <!-- <h1>Especialistas</h1>
  <table class="table table-light table-striped table-hover table-bordered">
  
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let especialista of userService.todosLosEspecialistas">
          <td scope="row" class="table-light">{{especialista.nombre}}</td>
          <td scope="row" class="table-light">{{especialista.apellido}}</td>
          <td scope="row" class="table-light">{{especialista.email}}</td>
          <td scope="row" class="table-light" >
            <ul *ngFor="let especialidad of especialista.especialidad">
              <li>{{especialidad}}</li>
            </ul>
          </td>
          <td *ngIf="especialista.habilitado" scope="row" class="table-light"><button class="btn-danger" (click)="DeshabilitarEspecialista(especialista)"> Deshabilitar </button></td>
          <td *ngIf="!especialista.habilitado" scope="row" class="table-light"><button class="btn-success" (click)="HabilitarEspecialista(especialista)"> Habilitar </button></td>
        </tr>
      </tbody>
    </table> -->

    <h1>Especialistas</h1>
    <div class="row justify-content-around" style="column-gap: 25px; row-gap: 25px;">
      <div class="col-12 col-md-4 row bg-light rounded" *ngFor="let especialista of userService.todosLosEspecialistas">
        <div class="col-6">
          <img [src]="especialista.foto" width="100%">
        </div>
        <div class="col-6">
          <h6>{{especialista.nombre}}</h6>
          <h6>{{especialista.apellido}}</h6>
          <h6>{{especialista.dni}}</h6>
          <small>{{especialista.email}}</small>
          <button *ngIf="especialista.habilitado" class="btn-danger" (click)="DeshabilitarEspecialista(especialista)"> Deshabilitar </button>
          <button *ngIf="!especialista.habilitado" class="btn-success" (click)="HabilitarEspecialista(especialista)"> Habilitar </button>
        </div>
      </div>
    </div>

    <h1>Pacientes</h1>
    <div class="row justify-content-around" style="column-gap: 25px; row-gap: 25px;">
      <div class="col-12 col-md-4 row bg-light rounded" *ngFor="let paciente of userService.todosLosPacientes">
        <div class="col-3" *ngFor="let foto of paciente.fotos">
          <img [src]="foto" width="100%">
        </div>
        <div class="col-6">
          <h6>{{paciente.nombre}}</h6>
          <h6>{{paciente.apellido}}</h6>
          <h6>{{paciente.dni}}</h6>
          <p>{{paciente.email}}</p>
          <button class="btn btn-info" (click)="VerHistorial(paciente)">Ver historial</button>

        </div>
      </div>
      <div *ngIf="verHistorial" class="col-sm-12 card" style="margin-left : 8cm">
        <h1>Historia clínica</h1>
        <div *ngFor="let historial of pacienteHistorial" class="col-12">
          <div *ngFor="let item of historial | keyvalue">
              <label>{{item.key}} : {{item.value}}</label>
          </div>
          <hr>
      </div>
      </div>
    </div>
</div>