<div class="container col-12 justify-content-center" style="font-family: OldSansBlack; text-align: center;">
 
  <h1  style="margin-top: 2cm;">Especialistas</h1>
  <div class="float-cont center">
    <div *ngFor="let especialista of userService.todosLosEspecialistas">

        <div  style="margin-top: 1cm;">
        <button class="floatEsp" *ngIf="especialista.habilitado" style="border: 5px solid red; border-radius: 50px;" class="btn-danger" (click)="DeshabilitarEspecialista(especialista)">
          <img [src]="especialista.foto"  width="80px"></button>
        <button  class="floatEsp" *ngIf="!especialista.habilitado" style="border: 5px solid green; border-radius: 50px;" class="btn-success" (click)="HabilitarEspecialista(especialista)">
          <img [src]="especialista.foto" width="80px"> </button>
        </div>
        <div class="col-2" >
          <h6>{{especialista.nombre | titlecase}}</h6>
        </div>
    </div>
  </div>

  <h1   style="margin-top: 2cm;">Pacientes</h1>
  <div  class="float-cont">
  <div *ngFor="let paciente of userService.todosLosPacientes">
    <div class='col-2'>
    <button appMarcado class="float-button" (click)="ExcelTurnos(paciente)">
      <img [src]="paciente.fotos[0]" width="100%">
    </button>
  </div>
  <div class='col-2'>
    
    <h6>{{paciente.nombre | titlecase}}</h6>
  </div>
    <div class="col-2">
    <button class="btn btn-info" (click)="VerHistorial(paciente)">Ver historial</button>
    </div>
  </div>
  </div>
  <div *ngIf="verHistorial" class="col-sm-6 card">
    <h1>Historia clínica</h1>
    <div *ngFor="let historial of pacienteHistorial">
      <div *ngFor="let item of historial | keyvalue">
        <label>{{item.key}} : {{item.value}}</label>
      </div>
      <hr>
    </div>
  </div>
</div>
