    
    <div class="card col-8 text-center" align="center">
    <div class= "row">
        <div class="col-sm">
            <div *ngIf="userService.usuarioActual.tipo=='administrador'" >
                <h1>Seleccione un paciente</h1>
                <app-listado-pacientes (pacienteClickeadoEmitter)="PacienteSeleccionado($event)"></app-listado-pacientes>

                <h5 *ngIf="pacienteSeleccionado != undefined">{{pacienteSeleccionado?.nombre}}, {{pacienteSeleccionado?.apellido}}</h5>
            </div>
        </div>
        <div class="col-sm">
            <app-listado-especialidades-sin-func  (especialidadSeleccionadaEmitter)="MostrarSeleccionado($event)"></app-listado-especialidades-sin-func>
            <h5>{{especialidadClickeada}}</h5>
        </div>
            <br>
        <div class="col-sm">
            <app-listado-especialistas-func *ngIf="mostrarListaEspecialistas" [especialidadAMostrar]="especialidadClickeada" (especialistaSeleccionadoEmitter)="MostrarEspecialistaSeleccionado($event)"></app-listado-especialistas-func>
        </div>
            <h5 *ngIf="especialistaClickeado != undefined">{{especialistaClickeado.nombre}} , {{especialistaClickeado.apellido}}</h5>
            <div *ngIf="especialistaClickeado != undefined">
            <form [formGroup]="controles" (ngSubmit)="PedirTurno()">
                <div *ngFor="let horario of fechasEspAMostrar">
                    <input type="radio" formControlName="horario" value={{horario}}>{{horario}}
                </div>
                <button type="submit">Pedir turno</button>
            </form>
        </div>
    </div>
    </div>
 
