
  <div class="container">
    <div class="main-body" align="center">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"[routerLink]="['/principal']">Atrás</a></li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
          
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                     <div class="col-sm-6">
                  <h2 *ngIf="this.userService.usuarioActual.tipo == 'paciente' ; else foto">Fotos</h2>
                  <ng-template #foto>
                    <h2>Foto</h2>
                  </ng-template>
                    <div class="d-flex d-wrap">
                      <div *ngIf="this.userService.usuarioActual.tipo == 'paciente'">
                      <img  *ngFor="let foto of userService.usuarioActual.fotos" src={{foto}} width="150">
                      </div>
                    <div *ngIf="this.userService.usuarioActual.tipo != 'paciente'">
                      <img src={{userService.usuarioActual.foto}} width="150">
                    <div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card mb-6">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombre completo</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.nombre}} {{userService.usuarioActual.apellido}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">DNI</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.dni}}
                    </div>
                  </div>
                  <hr>
                  <div class="row" *ngIf="this.userService.usuarioActual.tipo == 'paciente'">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Obra social</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.obraSocial}}
                    </div>
                  </div>
                  <div class="row" *ngIf="this.userService.usuarioActual.tipo == 'especialista'">
                    <div class="col-sm-3">
                      <button class="mb-0" [routerLink]="['/especialista/mis-horarios']">Mis horarios</button>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>

        
    </div>

   <div>
     <app-mis-horarios *ngIf="userService.usuarioActual.tipo == 'especialista'"></app-mis-horarios>
   </div>