
  <div class="container">
    <div class="main-body" align="center">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"[routerLink]="['/principal']">Atrás</a></li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
          
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                     <div class="col-sm-6">
                  <h2 >Fotos</h2>
           
                    <div class="d-flex d-wrap">
                      <img *ngFor="let foto of userService.usuarioActual.fotos" src={{foto}} width="150">
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card mb-6">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombre completo</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.nombre}} {{userService.usuarioActual.apellido}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">DNI</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.dni}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Obra social</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.obraSocial}}
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>

        
    </div>