
  <div class="container" style="font-family: OldSansBlack;">
    <div class="main-body" align="center">
          
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
            <div class="text-center">
                    <h2 *ngIf="this.userService.usuarioActual.tipo == 'paciente' ; else foto">Fotos</h2>
                    <ng-template #foto>
                      <h2>Foto</h2>
                    </ng-template>
                      <div >
                        <div  class="text-center" *ngIf="this.userService.usuarioActual.tipo == 'paciente'">
                        <img *ngFor="let foto of userService.usuarioActual.fotos" src={{foto}} width="150">
                        </div>
                      <div *ngIf="this.userService.usuarioActual.tipo != 'paciente'">
                        <img src={{userService.usuarioActual.foto}} width="150">
                      <div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
              <div class="card mb-6">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombre completo</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.nombre}} {{userService.usuarioActual.apellido}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">DNI</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.dni}}
                    </div>
                  </div>
                  <div class="row" *ngIf="this.userService.usuarioActual.tipo == 'paciente'">
                    <hr>
                    <div class="col-sm-3">
                      <h6 class="mb-0">Obra social</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userService.usuarioActual.obraSocial}}
                    </div>
                  </div>
                  <div class="row" *ngIf="this.userService.usuarioActual.tipo == 'especialista'">
                    <hr>
                    <div class="col-sm-3 text-center" >
                      <h6>Horarios del especialista</h6>
                        <div class="col-sm-9 text-secondary">
                        
                        
                        <ul *ngFor="let horario of this.userService.usuarioActual.horarios">
                          <li>{{horario}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        
      </div>
    </div>
    <div class="col-sm-6 card" *ngIf="this.userService.usuarioActual.tipo == 'paciente'" >
      <h1>Historia clínica</h1>>
    </div>
   <div>
     <app-mis-horarios *ngIf="userService.usuarioActual.tipo == 'especialista'"></app-mis-horarios>
   </div>