<div class="px-4 py-5 my-5 text-center slide-in-top" style="font-family: OldSansBlack; ">
  <img class="d-block mx-auto mb-4" src="../assets/images/clinica.png" alt="" width="72" height="70">
  <h1 class="display-5 fw-bold" >¡Bienvenido a Clinica OnLine!</h1>
  <div class="col-lg-6 mx-auto slide-in-top" style="margin-top: 3cm;">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white rounded-3" style="background-color:rgba(0, 0, 0, 0.705)">
          <h2>Entrá con tu cuenta</h2>
          <p>Ingresá los datos registrados en el sistema y entrá
             como paciente, especialista o administrador.</p>
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3" [routerLink]="['/login']">Iniciar sesión</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 border rounded-3" style="background-color:rgba(255, 255, 255, 0.705)">
          <h2>Creá tu cuenta</h2>
          <p>Ingresá los datos necesarios para registrar tu cuenta en nuestra clínica OnLine.</p>
          <button type="button" class="btn btn-secondary btn-lg px-4" [routerLink]="['/registro']">Registrarse</button>
        </div>
      </div>
    </div>

  </div>
</div>
