<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Página principal</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div *ngIf="userService.usuarioActual.tipo=='administrador'">
          <h2>Sección Usuarios</h2>
          <p>Administre los usuarios.</p>
          <button type="button" class="btn-success" [routerLink]="['/admin/usuarios']">
            Usuarios
          </button>
          <h2>Turnos</h2>
          <p>Vea los turnos.</p>
          <button class="btn-success" [routerLink]="['/turnos']"> Turnos</button>
        </div>
      </div>
      <div class="feature col">
        <h2>Mi perfil</h2>
        <p>Vea sus datos</p>
        <button type="button" class="btn-success" [routerLink]="['/mi-perfil']"> Mi perfil</button>
      </div>
      <div class="feature col" *ngIf="userService.usuarioActual.tipo != 'especialista'">
        <h2>Featured title</h2>
        <p>Solicite turno dependiendo de su necesidad, eligiendo hasta al especialista que desea.</p>
        <button class="btn-success" [routerLink]="['/solicitar-turno']"> Solicitar turno</button>
      </div>
    </div>
  </div>
