<table class="table">
    <thead>
      <tr>
        <th scope="col">Especialidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let especialidad of especialidades" (click)="SeleccionarEspecialidad(especialidad.nombre)">
        <td scope="row" class="table-info">{{especialidad.nombre}}</td>
      </tr>
    </tbody>
  </table>
      <form [formGroup]="formEspecialidad" (ngSubmit)="AgregarEspecialidad()">
      <label>Agregar especialidad</label>
      <input type="text" formControlName='especialidad'>
      <button type="submit" [disabled]="formEspecialidad.invalid">Agregar</button>
    
      </form>

