
<div class="container col-xl-10 col-xxl-8 px-4 py-5" style="font-family: OldSansBlack; text-align: center;">
  <div class="row align-items-center g-lg-5 py-5">
    
      <h1 class="display-4 fw-bold lh-1 mb-3">Inicio de sesión</h1>
      <p class="fs-4">Ingrese su e-mail y su contraseña</p>
      
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light"> 
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="email" [(ngModel)]="email" id="floatingInput" value={{email}} placeholder="name@example.com">
          <label for="floatingInput"  >Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="password" [(ngModel)]="password" value={{password}} placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="Loguearse()" >Iniciar sesión</button>
      </form> 
        <div class="float-cont">
          <button class="float-button" *ngFor="let paciente of pacientesDePrueba">
            <img [src]="paciente.fotos[0]" width="45px" (click)="LoguearseUsuario(paciente.email, paciente.password)">
          </button>
        </div>
        <div class="float-contEsp">
          <button class="float-button" *ngFor="let especialista of especialistasDePrueba">
            <img [src]="especialista.foto" width="45px" (click)="LoguearseUsuario(especialista.email, especialista.password)">
          </button>
        </div>
        <div class="float-contAdmin">
          <button class="float-button" *ngFor="let administrador of administradoresDePrueba">
            <img [src]="administrador.foto" width="45px" (click)="LoguearseUsuario(administrador.email, administrador.password)">
          </button>
        </div>
        <img *ngIf="loading" src="../../../assets/images/spinner.gif" height="100px" width="100px">
     

     
    </div>
  </div>
</div>