<!-- <div class="container">  
  <table class="table table-light table-striped table-hover table-bordered" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">Fecha y hora </th>
          <th scope="col">DNI del especialista</th>
          <th scope="col">DNI del paciente</th>
          <th scope="col">Estado del turno</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos" (click)="SeleccionarTurno(turno.nombre)">
          <td scope="row" class="table-light">{{turno.horario}}</td>
          <td scope="row" class="table-light">{{turno.especialista}}</td>
          <td scope="row" class="table-light">{{turno.paciente}}</td>
          
          <td scope="row" class="table-light"><span 
            [ngClass]="{'bg-success': turno.estado == 'aceptado',
                        'bg-danger': turno.estado == 'cancelado' || turno.estado == 'rechazado',
                        'bg-info' : turno.estado == 'finalizado',
                        'bg-dark' : turno.estado == 'pendiente'}" class="badge">{{turno.estado}}</span></td>
          
          <td scope="row" class="table-light"><button type="button" class="btn btn-danger" *ngIf="turno.estado == 'pendiente'" (click)="ModificarTurno(turno,'cancelado')" >Cancelar turno</button>
          </td>
          </tr>
      </tbody>
    </table>
</div> -->

<h1>Turnos</h1>
<div class="row justify-content-around" style="column-gap: 25px; row-gap: 25px;">
  <div [appHabilitarDeshabilitar]='turno.estado' class="col-12 col-md-4 row rounded" *ngFor="let turno of turnos" (click)="SeleccionarTurno(turno.nombre)">
    <div class="col-6">
      <h6>{{turno.horario}}</h6>
      <h6>Especialista: {{turno.especialista | obtenerNombre}}</h6>
      <h6>Paciente: {{turno.paciente | obtenerNombre}}</h6>
    </div>
    <div class="col-6">
      <span [appEstados]='turno.estado' style="margin-top: 5px; color: white">{{turno.estado}}</span>
      <button style="margin-top: 5px;" type="button" class="btn btn-danger" *ngIf="turno.estado == 'pendiente'" (click)="ModificarTurno(turno,'cancelado')" >Cancelar turno</button>
    </div>
  </div>
</div>


