/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(assets/images/hospitaldif.jpg);
    background-size: cover;
    background-attachment: fixed;
    //background-size: 100%;
   
}

@font-face{
    font-family: "OldSansBlack";
    src:local("OldSansBlack"),url(../src/assets/fonts/OldSansBlack.ttf)format("truetype");

}